@model IEnumerable<IGXDesigns.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())
    {
    <p>
        Title: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designer)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LiveLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GitLink)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.GitLinkText)
        </th>
        
        <th></th>
    </tr>


@foreach (var item in Model)
{
    @*<script>alert("@item.LiveLink")</script>*@

    <tr>
        <td>
            <a href="@item.LiveLink">@Html.DisplayFor(modelItem => item.Name)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designer)
        </td>

        <td>
            <a href="@item.GitLink">@Html.DisplayFor(modelItem => item.GitLinkText)</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
